* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-image: url(../img/back.jpg);
}
p {
  color: #766454;
}

/* DROPDOWN HEADER */

#header {
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1079.19px;
  height: 300px;
  margin: auto;
  align-items: center;
/*  margin-top: -300px; */
  margin-top: -300px;
  -webkit-transition: margin-top 1s;
  z-index: 10;
}
#header:hover {
  margin-top: 0;
}
#menu {
  width: 100%;
  height: 300px;
  background-color: white;
  border-bottom: 1px solid #766454;
  margin-bottom: -1px;
}
#dropdown {
  position: relative;
	border-top: 40px solid white;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	height: 0;
	width: 70px;
  box-sizing: content-box;
  margin: auto;
  cursor: pointer;
}
#dropdown > span {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 21px;
  margin-top: -43px;
}
#shadow {
  margin: auto;
  margin-top: -40px;
  border-top: 42px solid #766454;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  width: 130px !important;


}
/* MAIN CONTAINER */

#main {
  width: 1079.19px;
  margin: auto;
}

.masonry-layout {
  column-count: 4;
  column-gap: 0;
}
.masonry-layout__panel {
  break-inside: avoid;
  padding: 10px;
}
.card-box {
  background-color: white;
}

.card-box > img {
  width: 100%;
  height: auto;
}

.info {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.info > h3 {
  margin-top: 5px;
  margin-bottom: 0px;
  color: #766454;
  font-weight: bold;
}
.info > div {
  display: flex;
}
.info > div > img {
  width: 15px;
  height: 20px;
  margin: auto;
  margin-left: 5px
}
.info > div > h4 {
  color: #766454;
  font-weight: normal;
  margin: 10px;
  margin-right: 5px;
  padding-bottom: 0;
}



.details {
  border-top: 1px solid lightgrey;
  display: flex;
  height: 40px;
  margin: 0;
  padding: 0;
}
.surface {
  flex: 1;
  display: flex;
  padding-left: 5px;
  font-size: 20px;
  border-right: 1px solid lightgrey;
}
.surface > p {
  margin-top: 1px;
  font-weight: bold;
  padding-top: 6.55px;
}

.surface > img {
  width: 40px;
  height: 40px;
}

.s-area {
  color: #766454;
  font-size: 25px;
  padding-top: 0 !important;
}
.price {
  flex: 2;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
}
.price > p {
  margin-top: 1px;
  padding-top: 6.55px;
  font-size: 16px;
}
.price > p > span {
  font-weight: bold;
  font-size: 20px;
}

/* RESPONSIVE */

@media only screen and (max-width: 1080px) {
    #header {
      width: 100%;
    }
    #main {
      width: 100%;
    }
}

@media only screen and (max-width: 980px) {
  .masonry-layout {
    column-count: 3;
  }
}
@media only screen and (max-width: 780px) {
  .masonry-layout {
    column-count: 2;
  }
}

@media only screen and (max-width: 430px) {
  .masonry-layout {
    column-count: 1;
  }
    #header {
      width: 95%;
      height: 600px;
      margin-left: 0;
      display: flex;
      margin-top: 0;
      margin-left: -79%;
      -webkit-transition: margin-left 1s;
    }
    #header:hover {
      margin-left: 0
    }
    #header > div {
      display: inline-block;
    }
    #menu {
      height: 600px;
    }
    #dropdown {
      border-left: 1px solid white;
      border-right: 1px solid white;
      margin-top: 0;
      width: 60px;
    }
    #dropdown > span {
      left: 10px;
    }
    #main {
      width: 100%;
    }
}
