* {
  box-sizing: border-box;
}
body {
  background-image: url(../img/back.jpg);
}
#main {
  width: 800px;
  height: 500px;
  display: flex;
  border: 1px solid grey;
  border-radius: 3px;
  margin: auto;
  margin-top: 50px;
  -webkit-box-shadow: 0px 0px 50px -13px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 50px -13px rgba(0,0,0,1);
  box-shadow: 0px 0px 50px -13px rgba(0,0,0,1);
}
.log {
  flex: 1;
  display: flex;
  background-color: white;
  opacity: 0.85;
  -webkit-transition: opacity 1s;
}
.log:hover {
  opacity: 1;
}
.log > form {
  margin:auto;
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
}
.log > form > input {
  order: 2;
  width: 100%;
  height: 40px;
  margin: 10px;
  padding-left: 5px;
  border: none;
  border-bottom: 3px solid lightgrey;
  -webkit-transition: border-color 0.8s;
}
.btn {
  width: 35% !important;
  height: 35px !important;
  margin-top: 30px !important;
  border: none !important;
  border-radius: 5px !important;
  cursor: pointer;
  background-color: #3e3da5;
  color: white;
  font-weight: bold;
}
.btn:hover {
  background-color: #2a0d3b;
}
.log > form > input:focus {
  outline: none;
  border-color: #3e3da5;
}

/* RESPONSIVE */

@media only screen and (max-width: 810px) {
    #main {
        width: 100%;
    }
    .log > form {
        width: 279.3px;
    }
}
@media only screen and (max-width: 660px) {
    #main {
        flex-direction: column;
        height: auto;
    }
    .log {
      height: 500px;
    }
    .log > form {
        width: 70%;
    }
}

/*  */
